bin
Antlr.3.4.1.9004.nupkg
Antlr3.Runtime.dll
Antlr3.Runtime.pdb
bootstrap.3.0.0.nupkg
bootstrap.css
bootstrap.min.css
glyphicons-halflings-regular.eot
glyphicons-halflings-regular.svg
glyphicons-halflings-regular.ttf
glyphicons-halflings-regular.woff
bootstrap.js
bootstrap.min.js
jquery-1.10.2-vsdoc.js
jquery-1.10.2.js
jquery-1.10.2.min.js
jquery-1.10.2.min.map
jQuery.1.10.2.nupkg
common.ps1
install.ps1
jquery-1.10.2.intellisense.js
uninstall.ps1
jquery.validate-vsdoc.js
jquery.validate.js
jquery.validate.min.js
jQuery.Validation.1.11.1.nupkg
Microsoft.ApplicationInsights.dll
Microsoft.ApplicationInsights.XML
Microsoft.ApplicationInsights.2.0.0.nupkg
Microsoft.AI.Agent.Intercept.dll
Microsoft.ApplicationInsights.Agent.Intercept.1.2.1.nupkg
ApplicationInsights.config.install.xdt
ApplicationInsights.config.transform
ApplicationInsights.config.uninstall.xdt
Microsoft.AI.DependencyCollector.dll
Microsoft.AI.DependencyCollector.XML
Microsoft.ApplicationInsights.DependencyCollector.2.0.0.nupkg
ai.0.22.9-build00167.js
ai.0.22.9-build00167.min.js
Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167.nupkg
prefix.html
Microsoft.AI.PerfCounterCollector.dll
Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0.nupkg
web.config.install.xdt
web.config.uninstall.xdt
Microsoft.AI.Web.dll
Microsoft.AI.Web.XML
Microsoft.ApplicationInsights.Web.2.0.0.nupkg
Microsoft.AI.WindowsServer.dll
Microsoft.AI.WindowsServer.XML
Microsoft.ApplicationInsights.WindowsServer.2.0.0.nupkg
Microsoft.AI.ServerTelemetryChannel.dll
Microsoft.AI.ServerTelemetryChannel.XML
Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0.nupkg
Web.config.install.xdt
Web.config.uninstall.xdt
System.Web.Mvc.dll
System.Web.Mvc.xml
Microsoft.AspNet.Mvc.5.2.3.nupkg
System.Web.Razor.dll
System.Web.Razor.xml
Microsoft.AspNet.Razor.3.2.3.nupkg
System.Web.Optimization.dll
system.web.optimization.xml
Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
System.Web.Helpers.dll
System.Web.Helpers.xml
System.Web.WebPages.Deployment.dll
System.Web.WebPages.Deployment.xml
System.Web.WebPages.dll
System.Web.WebPages.Razor.dll
System.Web.WebPages.Razor.xml
System.Web.WebPages.xml
Microsoft.AspNet.WebPages.3.2.3.nupkg
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
init.ps1
jquery.validate.unobtrusive.js
jquery.validate.unobtrusive.min.js
Microsoft.jQuery.Unobtrusive.Validation.3.2.3.nupkg
Microsoft.Net.Compilers.props
Microsoft.Net.Compilers.1.0.0.nupkg
ThirdPartyNotices.rtf
csc.exe
Microsoft.Build.Tasks.CodeAnalysis.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.dll
Microsoft.CodeAnalysis.VisualBasic.dll
Microsoft.CSharp.Core.targets
Microsoft.VisualBasic.Core.targets
System.Collections.Immutable.dll
System.Reflection.Metadata.dll
vbc.exe
VBCSCompiler.exe
VBCSCompiler.exe.config
Microsoft.Web.Infrastructure.dll
Microsoft.Web.Infrastructure.1.0.0.0.nupkg
modernizr-2.6.2.js
Modernizr.2.6.2.nupkg
Newtonsoft.Json.dll
Newtonsoft.Json.xml
Newtonsoft.Json.6.0.4.nupkg
respond.js
respond.min.js
Respond.1.2.0.nupkg
WebGrease.dll
WG.exe
WebGrease.1.5.2.nupkg
Debug
